body {
    background: url(/imgs/no-mans-sky.jpg) no-repeat fixed center;
    height: 100vh;
    width: 100vw;
}

h1 {
    text-align: center;
    margin: 35px 0px 12px 0px;
}

#container {
    display: flex;
    align-items: center;
}

.big-card {
    display: flex; 
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    height: 100vh;
}

#description {
    text-align: center;
    width: 90%;
}

#name {
    font-size: 35px;
    margin-top: 30px;
    text-align: center;
}

#screenshot1, #screenshot2 {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#screenshot1 {
    max-width: 90%;
    margin-top: 22px;
    margin-bottom: 20px;
    border-radius: 5%;
}

#screenshot2 {
    max-width: 80%;
    margin: 50px 0px 10px 0px;
    border-radius: 5%;
}

footer {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
small {
    margin-top: 0px;
    margin-bottom: 20px;
    color: white;
    text-shadow: -1px 0px black;
}

#d, #p, #m, #r, #re, #g, #w, #s {
    font-weight: bold;
    text-decoration: underline; 
    font-size: 20px; 
}

#s {
    margin-top: 16px;
}

form {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    width: 100%;
}

#search-bar {
    width: 51%;
    margin-right: 10px;
}

#upName {
    margin: 50px 0px;
    text-align: center;
}

#top-break {
    margin: 40px auto;
}

.upcoming {
    margin-top: 150px;
}

.upcomingImage {
    max-width: 80%;
    border-radius: 5%;
}

.upcomingCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.form-check {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    width: 100%;
}

.form-check > div > label {
    margin-right: 20px;
}

.form-check > div > input {
    width: 14px;
}

.form-check > div {
    display: flex; 
    justify-content: space-between;
    padding: 0px 12px;
}

.upcomingCard1, .upcomingCard2, .upcomingCard3, .upcomingCard4, .upcomingCard5 {
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 50%;
    border-radius: 10%;
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

@media only screen and (min-width: 992px) {
    .big-card {
        max-width: 750px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 640px) {
    .upcomingCard1 > h2, .upcomingCard2 > h2, .upcomingCard3 > h2, .upcomingCard4 > h2, .upcomingCard5 > h2 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1100px) {
    .upcomingCard1, .upcomingCard2, .upcomingCard3, .upcomingCard4, .upcomingCard5 {
        max-width: 40%;
    }
}

@media only screen and (min-width: 1600px) {
    .upcomingCard1, .upcomingCard2, .upcomingCard3, .upcomingCard4, .upcomingCard5 {
        max-width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .form-check {
        flex-direction: column;
        align-items: center;
    }
}